.main {
    width: 100%;
}
.banner-wrapper {
    width: 100%;
    height: 500px;
}
.banner-wrapper img {
    width: inherit;
    height: inherit;
}
.hot-wrapper {
    width: 1170px;
    margin: 60px auto 0;
    font-size: 0;
}
.hot-wrapper .hot-item {
    display: inline-block;
    width: 270px;
    margin-right: 30px;
}
.hot-wrapper .hot-item:last-child {
    margin: 0;
}
.hot-wrapper .hot-item .avatar {
    width: 100%;
    height: 352px;
}
.hot-wrapper .hot-item .item {
    text-align: center;
}
.hot-wrapper .hot-item .title {
    font-size: 20px;
    color: #2d3a4b;
    font-weight: bold;
    margin-top: 40px;
}
.hot-wrapper .hot-item .desc {
    font-size: 14px;
    color: #666666;
    margin-top: 20px;
}
.hot-wrapper .hot-item .price {
    font-size: 17px;
    color: #ff0036;
    margin-top: 40px;
}
.banner1-wrapper {
    width: 100%;
    height: 488px;
}
.banner1-wrapper img {
    width: inherit;
    height: inherit;
    margin-top: 80px;
}
.title1 {
    font-size: 20px;
    color: #2d3a4b;
    font-weight: bold;
    margin-top: 160px;
}
.lasted-wrapper {
    width: 1170px;
    height: 540px;
    margin: 30px auto 0;
}
.lasted-wrapper img {
    width: inherit;
    height: inherit;
}
.lasted-wrapper .left {
    width: 370px;
    height: 540px;
    float: left;
}
.lasted-wrapper .right {
    width: 770px;
    height: 540px;
    float: right;
}
.lasted-wrapper .right .top {
    width: 100%;
    height: 256px;
}
.lasted-wrapper .right .bottom {
    width: 100%;
    height: 256px;
    margin-top: 30px;
}
.lasted-wrapper .right .item {
    width: 370px;
    height: 256px;
    float: left;
}
.lasted-wrapper .right .item:last-child {
    margin-left: 30px;
}
.banner2-wrapper {
    width: 100%;
    height: 260px;
    margin-top: 40px;
}
.banner2-wrapper img {
    width: inherit;
    height: inherit;
}

.title2 {
    font-size: 20px;
    margin-top: 60px;
}
.product-wrapper {
    width: 1170px;
    margin: 40px auto 0;
    font-size: 0;
}
.product-wrapper .product-item {
    float: left;
}
.product-wrapper .product-item .item {
    text-align: center;
}
.product-wrapper .product-item .title {
    font-size: 20px;
    color: #2d3a4b;
    font-weight: bold;
    margin-top: 40px;
}
.product-wrapper .product-item .desc {
    font-size: 14px;
    color: #666666;
    margin-top: 20px;
}
.product-wrapper .product-item .price {
    font-size: 17px;
    color: #ff0036;
    margin: 30px 0px 70px 0px;
}



